*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

ul{
    list-style-type: none;
}

h1{}

h2{}

h3{}

h4{}

p{}

span{}

/*button*/
.buttons {
    margin: 70px 10px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 20px 30px;
    position: relative;
    cursor: pointer;
    color: #25ff66;
    border: 1px solid rgba(205, 255, 213, 0.84);
    border-radius: 5px;
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.buttons:hover{
    color: #ffffff;
}

.buttons:before,
.buttons:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.buttons:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid #25ff66;
    border-top: 1px solid #25ff66;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.buttons:after {
    top: 0;
    right: 0;
    border-right: 1px solid #25ff66;
    border-bottom: 1px solid #25ff66;
    transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}

.buttons:hover:before,
.buttons:hover:after{
    height: 100%;
    width: 100%;
    opacity: 1;
}
.buttons:hover:before {transition: 0s ease opacity 0s, .1s ease height, .2s ease width .1s;}
.buttons:hover:after {transition: 0s ease opacity .2s, .1s ease height .2s , .1s ease width .3s;}
/*button end*/